/* PFE In the Pocket
 *
 * /sass/components/Animation.scss - Animation components
 *
 * coded by Dylan Schirino
 * started at 11/12/2016
 */

 /*************************************
      ANIMATION DES + ET DES LIGNES
  ************************************/
 .plus-un{
   animation: 4s infinite plus;
 }
 .plus-deux{
   animation: 6s infinite plus;
 }
 .plus-trois{
   animation:5s infinite plus;
 }
 .line{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 30s infinite forwards;
 }
 @include keyframes (plus) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    fill:$MainColor;
  }
 }
 @include keyframes (dash) {
   to {
     stroke-dashoffset: 0;
   }
 }

 /*************************************
      ANIMATION SWIPE
  ************************************/
#swipe{
  animation: .4s forwards swipe;
}
@include keyframes (swipe) {
  from{
    transform: translateX(375px);
  }
}
/*************************************
     FEUILLES QUI APPARAISSENT
 ************************************/
.left-sheet{
  transform: translateX(40px);
  opacity: 0;
  animation: 1s forwards appear;
}
.right-sheet{
  transform: translateX(-55px);
  opacity: 0;
  animation: 1s forwards appear;
}

@include keyframes (appear) {
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}
/*************************************
            ANIMATION BILLET
 ************************************/
.billet{
  animation: 5s forwards slide
}

@include keyframes (slide){
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(30px);
    opacity: 0.5;
  }
  100%{
    transform: translateY(15px);
  }
}
