/* PFE In the Pocket
 *
 * /sass/components/List.scss - List components
 *
 * coded by Dylan Schirino
 * started at 05/01/2017
 */
 .bigheader{
   background-color:$bigheader;
   padding-top:0.1em;
   &__element{
     display: flex;
     width: 88%;
     margin: auto;
     padding: 0.75em 0;
     color: $white;
     font: 1.6em/1.618em $appleFont;
   }
   &__return{
     &::before{
       content: "\e916";
       display: inline-block;
       font: 0.75em/1em $glyphs;
       padding-right: 1em;
     }
   }
   &__title{
     margin-left: 3.5em;
     &--pret{
       margin-left:1.9em;
     }
     &--epargne{
       text-align: center;
       position: relative;
       left: 45px;
       margin-right: 1em;
     }
   }
   &__add{
     &::before{
       content: "\e914";
       display:block;
       font: 1.7em/1em $glyphs;
       margin-left: 3.22em;
     }
   }
 }

 .filters{
   &__list{
     display: flex;
     font: 1.6em/1.618em $texteFont;
     margin: 1em 0 1em 2.13em;
     letter-spacing: -0.3px;
   }
   &__link{
     padding-right: 0.875em;
     &--more{
       &::before{
         content: "\e900";
         display: inline-block;
         font: 0.6em/1em $glyphs;
         position: relative;
         top: -1px;
       }
     }
   }
   &__search{
     background-color: #F3F6FB;
     padding: 1.5em 0;
     position: relative;
   }
   &__switch{
     background-color: $Bckg;
     &--view{
       background: none;
     }
   }
 }

 .switch{
   &__link{
     font: 1.2em/1.618em $titleFont;
     width: 50%;
     text-align: center;
     border: 1px solid $LightBlue;
     padding: 0.21em 0;
     color: $LightBlue;
     background-color: $white;
     &:first-child{
       border-top-left-radius: 5px;
       border-bottom-left-radius: 5px;
     }
     &:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
     }
     &--active{
       background-color: $LightBlue;
       color: $white;
     }
   }
   &__container{
      width: 15.8333em;
      margin: auto;
      padding: 1.666em 0;
      display: flex;
   }
 }

 .search{
   &__input{
    background-color: white;
    -webkit-appearance:none;
    border: none;
    border-radius: 5px;
    font: 1.4em/1.618em $appleFont;
    width: 97%;
    height: 28px;
    display: block;
    margin:auto;
    text-align: center;
    text-indent: 10px;
   }
   &__icon{
     &::before{
       content: "\e917";
       display: block;
       font: 1em/1em $glyphs;
       color: #A9A9A9;
       position:absolute;
       top: 42.5%;
       left: 35%;
     }
   }
 }

 .depenseList{
    &__link{
      font: 1.8em/1.618em $texteFontRegular;
      display: flex;
      flex-direction: column;
      width: 82%;
      margin:auto;
      padding: 1.5555555556em 0;
      &--big{
        padding: 0.8333333333em 0 0.55556em 0;
      }
      &--color{
        background-color: $Bckg;
      }
    }
    &__price{
      font-family: $texteBold;
      color: $LightBlue;
      padding-bottom: 0.3em;

    }
    &__name{
      font-family:$texteFontRegular;
      color: #333333;
      padding-left: 1.6666666667em;
      &--big{
        padding: 0;
        text-transform: uppercase;
        font-size: 1.333em;
        &--epargne{
          text-transform: none;
        }
      }
    }
    &__time{
      font: 0.6111111111em/1.618em $titleFont;
      text-transform: uppercase;
      color: #333333;
      &--duree{
        font-size:0.78em;
        padding-top: 1.0714285714em;
      }
    }
    &__date{
      font: 1.2727272727em/1.618em $texteFontRegular;
      color: $LightBlue;
      padding-left:2.1em;
      &--duree{
        text-transform: lowercase;
        font-size: 1.14em;
        &--epargne{
          padding-left: 5px;
        }
      }
    }
    &__pourcentage{
      width: 100%;
      height: 10px;
      border: 1px solid $LightBlue;
      border-radius: 8px;
      font-size: 9px;
      padding: 2px 0;
      position: relative;
      margin-top: 9px;
    }
    &__used{
      width: 25%;
      height: 10px;
      background-color: $LightBlue;
      border-radius: 8px;
      margin-left: 2px;
    }
    &__chiffre{
      text-align: right;
      position: absolute;
      right: 7px;
      bottom:-7px;
    }
 }
