/* PFE In the Pocket
 *
 * /sass/components/View.scss - View components
 *
 * coded by Dylan Schirino
 * started at 20/01/2017
 */
 .viewHeader{
   display: flex;
   &__title{
     font: 1.8em/1.618em $titleBold;
     margin: 1.111em 2em 1.111em auto;
     text-align: center;
     color: $priceColor;
   }
   &__return::before{
     content: "\e918";
     font: 2.8em/1em $glyphs;
     color: $priceColor;
     display: inline-block;
     margin: 0.7em 0em 0.6071428571em 1em;
   }
 }

 .viewContent{
   background-color: $Bckg;
   &__container{
     margin-left: 3.25em;
     padding: 2.5em 0 5em 0;
     &--epargne{
       display: flex;
       justify-content: space-between;
       margin-right: 3.25em;
       padding-bottom: 2.5em;
     }
   }
   &__header{
     display: flex;
     padding-top: 1.5em;
   }
   &__title{
     font: 2.4em/1.618em $titleFont;
     color: $texteBlueLight;
     margin-top: 0.6em;
     margin-left: 0.4167em;
     letter-spacing: 1px;
     &--pret{
       text-transform: uppercase;
       font-size: 3.2em;
       margin-top: 0.3em;
       letter-spacing: 2px;
       margin-left: 2em;
     }
   }
   &__label{
     font: 1.4em/1.618em $titleFont;
     color: $texteBlueLight;
     padding-bottom: 0.6428571429em;
     display: block;
     &--epargne{
       text-align: center;
     }
   }
   &__text{
     font: 1.6em/1.618em $texteFontRegular;
     padding-bottom: 1.25em;
     &--epargne{
       text-align: center;
     }
   }
   &__timer{
     width: 150px;
     height: 150px;
     margin: 1.5em auto 0 auto;
     background-color: #518EB6;
     border-radius: 50%;
     &--white{
       border: 2px solid white;
       width: 142px;
       height: 142px;
       border-radius: 50%;
       margin-left: 2px;
       position: relative;
       top: 2px;
     }
     &--text{
       text-align: center;
       font: 1.8em/1.618em $texteFont;
       text-transform: uppercase;
       color: $white;
       letter-spacing: 1px;
       width: 6em;
       margin:1.833em auto;
       & span{
         display: block;
       }
     }
   }
 }
