/* PFE In the Pocket
 *
 * /sass/settings/Colors.scss - Main color of my project
 *
 * coded by Dylan Schirino
 * started at 14/12/2016
 */
$MainColor:#235182;

$DarkBlue:#124C73;

$LightBlue:#538EB6;

$GreyBlue:#8AB1DC;

$white:white;

$Bckg:#F8FCFF;

$priceColor:#528DB5;

$texteColor:#002E48;
