doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="InThePocket | Application de gestion des dépenses")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "InThePocket - Maquette HTML"
        link(rel='stylesheet', href='css/main.css', type='text/css')

    body.loginPage
      include template/_header.pug
      div
        div.loginPage__container
          h1.loginPage__title Connexion
          <svg class="loginPage__logo" width="120" height="114" viewBox="0 0 120 114" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <rect id="a" x="10.588" y="11.506" width="98.824" height="92.045" rx="8"/>
              <mask id="b" x="0" y="0" width="98.824" height="92.045" fill="#fff">
                <use xlink:href="#a"/>
              </mask>
            </defs>
            <g fill="none" fill-rule="evenodd">
              <rect fill="#295174" width="120" height="113.287" rx="8"/>
              <use stroke="#FFF" mask="url(#b)" stroke-width="4" xlink:href="#a"/>
              <path d="M11.912 58.74h96.218" stroke="#FFF" stroke-width="2" stroke-linecap="square"/>
              <path d="M11.912 36.923h96.218" stroke="#FFF" stroke-width="2" stroke-linecap="square"/>
              <path d="M11.912 85.594h96.218" stroke="#FFF" stroke-width="2" stroke-linecap="square"/>
              <g stroke="#FFF">
                <path stroke-width=".902" d="M46.765 51.027H74.45v7.19H46.766z"/>
                <path stroke-width=".731" fill="#8EA6BC" d="M57.665 51.027h4.687v7.19h-4.687z"/>
              </g>
              <g stroke="#FFF">
                <path stroke-width=".902" d="M75 78.326h27.686v7.19H75z"/>
                <path stroke-width=".731" fill="#8EA6BC" d="M85.9 78.326h4.687v7.19H85.9z"/>
              </g>
              <g stroke="#FFF">
                <path stroke-width=".902" d="M24.706 78.326h27.686v7.19H24.706z"/>
                <path stroke-width=".731" fill="#8EA6BC" d="M35.606 78.326h4.687v7.19h-4.687z"/>
              </g>
              <g stroke="#FFF">
                <path stroke-width=".902" d="M70.588 28.993h27.686v7.19H70.588z"/>
                <path stroke-width=".731" fill="#8EA6BC" d="M81.488 28.993h4.687v7.19h-4.687z"/>
              </g>
              <g stroke="#FFF">
                <path stroke-width=".902" d="M18.53 29.39h27.685v7.19H18.53z"/>
                <path stroke-width=".731" fill="#8EA6BC" d="M29.43 29.39h4.686v7.19H29.43z"/>
              </g>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="84.654" cy="55.862" rx="4.36" ry="2.942"/>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="61.713" cy="82.321" rx="4.36" ry="2.942"/>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="52.889" cy="33.65" rx="4.36" ry="2.942"/>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="86.419" cy="53.206" rx="4.36" ry="2.942"/>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="66.125" cy="79.666" rx="4.36" ry="2.942"/>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="84.654" cy="49.666" rx="4.36" ry="2.942"/>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="61.713" cy="76.126" rx="4.36" ry="2.942"/>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="52.889" cy="30.241" rx="4.36" ry="2.942"/>
              <ellipse stroke="#FFF" stroke-width=".731" fill="#8EA6BC" cx="52.889" cy="27.586" rx="4.36" ry="2.942"/>
            </g>
          </svg>
          form.loginPage__form
            label.loginPage__label.loginPage__label--mail(for="mail") Email
            input.loginPage__input#mail(type="email" placeholder="dylan.schirino@hotmail.fr")
            label.loginPage__label.loginPage__label--password(for="password1") Mot de passe
            input.loginPage__input#password1(type="password")
          a.loginPage__button.loginPage__button--subscribe(href="connexion.html") S'inscrire&nbsp;!
        <svg class="loginPage__svg" width="375px" height="96px" viewBox="0 0 375 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Inscription" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.600000024">
                  <g transform="translate(0.000000, -571.000000)" id="Cercle">
                      <g transform="translate(-18.000000, 571.000000)">
                          <path d="M17.6461169,7.22323547 L17.6461169,99.8395576 L392.933053,95.6500388 C392.933053,95.6500388 197.904488,-31.1154253 17,7.22323547" id="Cercle-Right" fill="#BCDCFF"></path>
                          <path d="M393.17409,96.3885389 L0,97.8254533 C0,97.8254533 251.738129,-11.6548796 393.17409,32.8222468" id="Cercle-Left" fill="#B2D9F3"></path>
                      </g>
                  </g>
              </g>
        </svg>
      script(type="text/javascript" src="script/facebookLogin.js")
