doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="InThePocket | Application de gestion des dépenses")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "InThePocket - Maquette HTML"
        link(rel='stylesheet', href='css/main.css', type='text/css')

    body
      div.bigheader
        include template/_header2.pug
        div.bigheader__element
          a.bigheader__return(href="accueil.html")
          <svg class="bigheader__return--svg" width="9px" height="15px" viewBox="0 0 9 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Liste-dépense" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-21.000000, -45.000000)" id="Navigation-Bar---Back-and-Right-Text-Action" fill="#FFFFFF">
                      <g>
                          <polygon id="Back-Button" points="29.6580087 46.4285714 28.2727273 45 21 52.4282143 28.2727273 60 29.6580087 58.5714286 23.7705628 52.4282143"></polygon>
                      </g>
                  </g>
              </g>
          </svg>
          | Accueil
          h1.bigheader__title Dépenses
          a.bigheader__add(href="adddepense.html")
      div.filters
        ul.filters__list
          li.filters__element
            a.filters__link(href="#all") All
          li.filters__element
            a.filters__link(href="#loisirs") Loisirs
          li.filters__element
            a.filters__link(href="#aliments") Aliments
          li.filters__element
            a.filters__link(href="#maison") Maison
          li.filters__element
            a.filters__link(href="#eau") Eau
          li.filters__element
            a.filters__link(href="#sante") Santé
          li.filters__element
            a.filters__link.filters__link--more(href="more") More
        div.filters__search
          input.search__input(type="search" placeholder="Rechercher")
