doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="InThePocket | Application de gestion des dépenses")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "InThePocket - Maquette HTML"
        link(rel='stylesheet', href='css/main.css', type='text/css')

    body
      div.bigheader
        include template/_header2.pug
        div.bigheader__element
          a.bigheader__return(href="accueil.html") Accueil
          h1.bigheader__title Dépenses
          a.bigheader__add(href="adddepense.html")
      div.filters
        ul.filters__list
          li.filters__element
            a.filters__link(href="#all") All
          li.filters__element
            a.filters__link(href="#loisirs") Loisirs
          li.filters__element
            a.filters__link(href="#aliments") Aliments
          li.filters__element
            a.filters__link(href="#maison") Maison
          li.filters__element
            a.filters__link(href="#eau") Eau
          li.filters__element
            a.filters__link(href="#sante") Santé
          li.filters__element
            a.filters__link.filters__link--more(href="more")
        div.filters__search
          input.search__input(type="search" name="s" value="" placeholder="Rechercher")
          span.search__icon

      ul.depenseList
        li.depenseList__element
          a.depenseList__link(href="viewDepense.html")
            span.depenseList__price 10 €
              span.depenseList__name Glace au chocolat de chez.
            span.depenseList__time Dépensé le
              span.depenseList__date 19 janvier 2017
        li.depenseList__element.depenseList__link--color
          a.depenseList__link(href="viewDepense.html")
            span.depenseList__price 110.40 €
              span.depenseList__name Baguette provencale
            span.depenseList__time Dépensé le
              span.depenseList__date 19 janvier 2017
        li.depenseList__element
          a.depenseList__link(href="viewDepense.html")
            span.depenseList__price 90.99 €
              span.depenseList__name Souris d'ordinateur
            span.depenseList__time Dépensé le
              span.depenseList__date 19 janvier 2017
        li.depenseList__element.depenseList__link--color
          a.depenseList__link(href="viewDepense.html")
            span.depenseList__price 300 €
              span.depenseList__name Restaurant en famille
            span.depenseList__time Dépensé le
              span.depenseList__date 28 Septembre 2017
      include template/_menu.pug
