doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="InThePocket | Application de gestion des dépenses")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "InThePocket - Maquette HTML"
        link(rel='stylesheet', href='css/main.css', type='text/css')

    body.loginPage
      include template/_header.pug
      div
        div.loginPage__container
          h1.loginPage__title Inscription
          a.loginPage__facebook(scope="public_profile,email" onclick="FB.login()" onlogin="checkLoginState();") S'inscrire avec facebook
      script(type="text/javascript" src="script/facebookLogin.js")
