doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="InThePocket | Application de gestion des dépenses")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "InThePocket - Maquette HTML"
        link(rel='stylesheet', href='css/main.css', type='text/css')

    body.loginPage
      include template/_header.pug
      div
        div.loginPage__container
          h1.loginPage__title Inscription
          a.loginPage__facebook(scope="public_profile,email" onclick="FB.login()" onlogin="checkLoginState();") S'inscrire avec facebook
          <div id="fb-root"></div>
      script.
        function statusChangeCallback(response) {
        console.log(statusChangeCallback());
        console.log(response);
        if (response.status === 'connected') {
        // Logged into your app and Facebook.
        testAPI();
        } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
        } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
        }
        }
        function checkLoginState() {
        FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
        });
        }
        window.fbAsyncInit = function() {
        FB.init({
        appId      : '1526707354025327',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
        });

        FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
        });
        };
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
        });
        }
