doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="InThePocket | Application de gestion des dépenses")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "InThePocket - Maquette HTML"
        link(rel='stylesheet', href='css/main.css', type='text/css')

    body.loginPage
      include template/_header.pug
      div
        div.loginPage__container
          h1.loginPage__title Inscription
          a.loginPage__button(scope="public_profile,email" onclick="FB.login()" onlogin="checkLoginState();") S'inscrire avec facebook
          form.loginPage__form
            label.loginPage__label.loginPage__label--mail(for="mail") Email
            input.loginPage__input#mail(type="email" placeholder="dylan.schirino@hotmail.fr")
            label.loginPage__label.loginPage__label--password(for="password1") Mot de passe
            input.loginPage__input#password1(type="password")
            label.loginPage__label.loginPage__label--passwordConfirm(for="password2") Confirmer mot de passe
            input.loginPage__input#password2(type="password")
          a.loginPage__button.loginPage__button--subscribe(href="connexion.html") S'inscrire&nbsp;!
        <svg class="loginPage__svg" width="375px" height="96px" viewBox="0 0 375 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Inscription" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.600000024">
                  <g transform="translate(0.000000, -571.000000)" id="Cercle">
                      <g transform="translate(-18.000000, 571.000000)">
                          <path d="M17.6461169,7.22323547 L17.6461169,99.8395576 L392.933053,95.6500388 C392.933053,95.6500388 197.904488,-31.1154253 17,7.22323547" id="Cercle-Right" fill="#BCDCFF"></path>
                          <path d="M393.17409,96.3885389 L0,97.8254533 C0,97.8254533 251.738129,-11.6548796 393.17409,32.8222468" id="Cercle-Left" fill="#B2D9F3"></path>
                      </g>
                  </g>
              </g>
        </svg>
      script(type="text/javascript" src="script/facebookLogin.js")
