nav.menu
  a.menu__add(href="ajouter.html")
    span.hidden Plus
  ul.menu__list
    li.menu__element
      a.menu__link.menu__link--home(href="accueil.html" title="Aller vers la page sommaire") Sommaire
    li.menu__element
      a.menu__link.menu__link--depense(href="depense.html" title="Aller vers la page dépenses") Dépenses
    li.menu__element
      a.menu__link.menu__link--right.menu__link--epargne(href="epargne.html" title="Aller vers la page épargne") Épargne
    li.menu__element
      a.menu__link.menu__link--pret(href="Prêts.html" title="Aller vers la page prêts") Prêts
